.table {
   border-collapse: collapse;
   border-top: solid transparent 24px;
   border-bottom: solid transparent 24px;
   border-right: solid transparent 16px;
   border-left: solid transparent 16px;

}

.table__container {
   border-radius: 14px;
   border: #DBDEE5 1px solid;
   margin-top: 30px;
}

.thead {
   border-bottom: solid #fff 20px;
}

.thead__row {}

.thead__cell {
   border-right: solid #fff 20px;
   text-align: left;
   color: #121217;
   font-size: 16px;
   font-weight: 700;
   font-family: 'Open Sans', sans-serif;
   line-height: 21px;
}

.tbody {}

.tbody__row {
   border-bottom: solid #fff 20px;
}

.tbody__cell {
   color: #637087;
   font-size: 16px;
   font-weight: 400;
   font-family: 'Open Sans', sans-serif;
   line-height: 21px;
}

.tbody__btn {
   color: #fff;
   background-color: #1A5CE5;
   padding: 4px 14px;
   font-size: 14px;
   font-weight: 700;
   font-family: 'Inter', sans-serif;
   border-radius: 12px;
}