@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif; */

/* обнуляющие стили */

html,
body,
#root,
.App {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

textarea {
  resize: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

/* Общие стили */

/* .container {
  max-width: 1366px;
  margin: 0 auto;
} */

/* TABLE */

.table {
  border-collapse: collapse;
  border-top: solid transparent 24px;
  border-bottom: solid transparent 24px;
  border-right: solid transparent 16px;
  border-left: solid transparent 16px;
}

/* SIDEBAR */

.sidebar__link.active {
  color: #1a5ce5;
}

/* OTHER */

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  /* 3 */
  tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/* App.css */

.body {
  display: flex;
  max-width: 100%;
}

.header-cont {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #e5e8eb;
  padding: 1vh 1vw;
}

.header-container-row-start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.header-container-row-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.displey-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.bold-font {
  font-weight: bold;
}

.font-18 {
  font-size: 18px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-32 {
  font-size: 32px;
  font-weight: bold;
}

.color-title {
  color: #637087;
}

.button-square {
  padding: 10px;
  border-radius: 12px;
  background-color: #f0f2f5;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button-ser {
  padding: 5px 10px;
  border-radius: 12px;
  background-color: #f0f2f5;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.side-menu-cont {
  background-color: #ffffff;
  width: max-content;
  border-right: 1px solid #e5e8eb;
  min-height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.column-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.space {
  height: 5vh;
}

.elem-list {
  padding: 5px 10px;
  cursor: pointer;
}

.header-list-conainer {
  gap: 15px;
  font-size: 14px;
  padding: 12px 0;
}

.elem-list:hover {
  background-color: #f0f2f5;
}

.main-block {
  max-width: 100%;
  display: flex;
  justify-content: center;
  /* background-color: #3a3f47; */
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
}

.center-block {
  display: flex;
  /* background-color: #637087; */
  max-width: 1280px;
  min-width: 50vw;
  min-height: 100vh;
  justify-content: center;
}

.selectedInList {
  background-color: #e8edf2;
  height: -moz-fit-content;
  height: fit-content;
  padding: 3px 10px;
  border-radius: 10px;
  width: 100%;
  max-width: max-content;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  margin: 2px 2px;
  white-space: nowrap;
  overflow: hidden;
}

.flex-wrap {
  flex-wrap: wrap;
}

.list-content {
  max-width: 765px;
  width: 100%;
  padding: 15px;
}

.element-list-input {
  font-size: 16px;
  gap: 8px;
  padding: 12px 0;
  width: 100%;
  outline-width: 0;
}

.element-input-style {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background-color: #f0f2f5;
  outline-width: 0;
  appearance: none;
}

.mini-element-input-style {
  padding: 5px 16px;
  font-size: 14px;
  border-radius: 10px;
  border: none;
  outline-width: 0;
  outline: none;
  background-color: #f0f2f5;
  width: min-content;
  appearance: none;
}

.element-input-style:focus {
  outline: none;
}

.title {
  padding: 20px 0;
}

.podtitle {
  padding: 10px 0;
}

.radio-button {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #f0f2f5;
}

.element-list-select {
  width: 100%;
  /* block w-full h-10 pl-3 pr-8 text-base placeholder-gray-600 border rounded-lg focus:shadow-outline */
}

.file-block {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.background-color-E8EDF2 {
  background-color: #e8edf2;
}

.border-radius {
  border-radius: 10px;
}

.gap {
  gap: 10px;
}

.container-free-students {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  min-width: max-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-model-choose {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: clip;
  gap: 5px;
  display: flex;
  padding: 10px;
  border: 1px dashed #637087;
}

.container-free-students-list {
  max-width: 30vw;
  max-height: 50vh;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: clip;
  gap: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  border: 1px dashed #637087;
}

.element-st {
  background-color: #e8edf2;
  height: fit-content;
  padding: 2px 8px;
  border-radius: 10px;
  max-width: 10vw;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.ten ::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 2;
}

.button-classic {
  background-color: #1a5ce5;
  color: white;
  padding: 5px 16px;
  border-radius: 10px;
}

.button-classic-dop {
  width: max-content;
  margin: 10px 0;
}

.block-student {
  width: max-content;
}

.block-student span {
  width: 100%;
}

.block-student span:hover {
  background-color: #d9dee3;
}

.table-depence {
  width: inherit;
}

.table {
  max-width: 95vw;
}

table tr {
  height: 6vh;
}

table th,
table td {
  padding: 5px 10px;
  text-wrap: wrap;
  font-size: 16px;
  text-overflow: ellipsis;
  border-radius: 3px;
  max-width: 250px;
  overflow: hidden;
}

tr td:nth-child(1 + 1n) {
  color: #637087;
}

.filter {
  padding: 12px 16px;
  font-size: 14px;
  max-width: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 20px;
}

.common-line-filter {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  height: max-content;
  transition-duration: 3s;
}

.black-line-filter {
  width: 100%;
  position: absolute;
  background-color: black;
  height: 1px;
  margin: auto auto;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.line-filter {
  width: 100%;
  background-color: #1a5ce5;
  height: 5px;
  border-radius: 10px;
  transition: background-color sease-in-out 1s;
}

.filter button {
  padding: 5px 16px;
}

.margin-right {
  margin-left: auto;
}

.search-full-screen {
  padding: 12px 0;
}

.search-full-screen input {
  padding: 12px 16px;
  background-color: #f0f2f5;
  border-radius: 10px;
  outline: none;
}

.left-column-command {
  max-width: 35vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column-command-create {
  gap: 5px;
  padding: 10px;
}

.margin-top {
  margin-top: 20px;
}

.w-100 {
  width: 100%;
}

.margin {
  margin: 12px 0;
}

.img-command {
  /* background-image: url(command.svg); */
  background-color: #e8edf2;
  border-radius: 10px;
  margin: auto 0;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}

.border-drag-and-drop {
  outline: 3px solid #e8edf2;
  border-radius: 10px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.manageMenu {
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max-content;
  gap: 10px;
}

.manageMenu div {
  height: max-content;
}

.elementWithButtonKrest {
  background-color: #e8edf2;
  padding: 4px 8px;
  border-radius: 10px;
  max-width: max-content;
  overflow: hidden;
  text-wrap: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin: 5px;
}

.gap_25 {
  gap: 25px;
}

.align-center {
  align-items: center;
}

/* table {
  border-collapse: unset !important;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
