.evaluation__subtitle {
   color: #121217;
   font-weight: 700;
   font-family: 'Open Sans', sans-serif;
   font-size: 20px;
   margin: 20px 0;
}

.evaluation__text {
   margin-top: 20px;
   color: #121417;
   font-weight: 400;
   font-family: 'Inter', sans-serif;
   font-size: 16px;
}

.criteria__text {
   color: #121417;
   font-weight: 400;
   font-family: 'Inter', sans-serif;
   font-size: 16px;

}

.criteria__mark {}

.criteria {
   display: flex;
   gap: 60px;
   justify-content: space-between;
   align-items: center;
   width: 400px;
   margin-bottom: 20px;
}

.evaluation__select {
   border: #121217 1px solid;
   border-radius: 12px;
}

.evaluation__textarea {
   border: 1px #DBE0E5 solid;
   height: 140px;
   width: 400px;
   padding: 10px;
   border-radius: 12px;
   font-size: 14px;
   font-family: 'Open Sans', sans-serif;

}

.evaluation__buttons {
   margin-top: 10px;
   display: flex;
   gap: 12px;
}

.evaluation__button {
   font-weight: 700;
   font-family: 'Inter', sans-serif;
   padding: 10px 20px;
   border-radius: 12px;
}

.evaluation__save {
   color: #fff;
   background-color: #1A80E5;
}

.evaluation__cancel {
   color: #121217;
   background-color: #F0F2F5;
}

.evaluation__input {
   border: 1px solid #121217;
   font-size: 14px;
}